
.comment .panel {
	position:relative;
}

.comment-content{
	white-space: pre-line;
	background-color: #E9E9E9;
}

.comment{
	border: 1px solid gray;
}

.comment th, .comment td{
	border: 1px solid gray;
}
.comment-btn{
	float: right;
}