<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
            <ThresholdFilter level="trace" />
            <!-- deny trace and info messages to the console -->
            <ThresholdFilter level="info"  onMatch="DENY"   onMismatch="NEUTRAL"/>
            </Filters>
        </Console>
        <File name="MyFile" fileName="C:\Users\elodie\Documents\AmisEscaladeLogs\logs.log" append="true" >
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="utf-8"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.elodie.oc" level="info">
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="Console" level="debug"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="MyFile" level="info" />
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>